<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- top header -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>DIY shoes</title>
</head>
<body>
    <h1 class="header">DIY SHOES</h1>

    <div>
    <img class="homepage_logo" src="images/logo.png",alt="group logo">
    <h1>Renike</h1>
    <button class="signup"><a href="signup">Sign up</a></button>
    <button class="login"><a href="login">Login</a></button>

        <div class="navigation_bar">
            <ul>
                <li><a href=#>DIY</a></li>
                <li><a href=#>Shoes Evaluation</a></li>
                <li><a href=#>Quiz Show</a></li>
                <li><a href=#>Home</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                Upper
            </div>
            <div class="col-sm">
                Mid
            </div>
            <div class="col-sm">
                Bottom
            </div>
        </div>
    </div>



</body>

</html>