<div class="container">
    <div class="row cols-sm-12 cols-lg-10">
        <!-- Add the extra style to make card spacing look better -->
        <div class="col-lg-offset-1 row" style="-webkit-justify-content: space-around; justify-content: space-around;">
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Lorem ipsum</h3>
                <p class="section double-padded">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Pellentesque nisl leo</h3>
                <p class="section double-padded">Pellentesque nisl leo, pharetra eu ipsum ut, lacinia faucibus neque.</p>
            </div>
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Quisque ac tortor</h3>
                <p class="section double-padded">Quisque ac tortor in elit ultricies facilisis.</p>
            </div>
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Morbi pretium</h3>
                <p class="section double-padded">Morbi pretium leo a libero facilisis viverra.</p>
            </div>
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Vivamus maximus</h3>
                <p class="section double-padded">Vivamus maximus nibh a tempor fermentum.</p>
            </div>
            <div class="card">
                <img src="https://placehold.it/800x600" class="section media">
                <h3 class="section double-padded">Suspendisse vitae</h3>
                <p class="section double-padded">Suspendisse vitae gravida justo, et faucibus erat.</p>
            </div>
        </div>
    </div>
</div>