<!-- the view for your web-page -->
<!-- ejs stands for embeded javascript -->
<!Doctype html>
<html>
<head>
    <title> <%= title %></title>   <!-- '='for writing varaibles -->
    <!-- <link rel='stylesheet' href='/stylesheets/style.css'> -->
</head>
<body>
    <h1><%= title %></h1>
    <p>Web design is awesome!</p>

    <!-- a for loop -->
    <ul>
        <% for(var i=0; i<5; i++) { %>
            <li> Hola </li>
        <% } %>
    </ul>
</body>
</html>