<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Renike</title>
    <link href="/css/hpstyle.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="main_wrap">
    <div class="main">
    <div>
    <img class="homepage_logo" src="images/logo.png",alt="group logo">
        <h1>Renike</h1>
        <button class="signup"><a href="signup">Sign up</a></button>
        <button class="login"><a href="login">Login</a></button>

    <div class="navigation_bar">
    <ul>
        <li><a href=#>DIY</a></li>
        <li><a href=#>Shoes Evaluation</a></li>
        <li><a href=#>Quiz Show</a></li>
        <li><a href=#>Home</a></li>
    </ul>
    </div>

    <div class="loop-wrap">
        <div class="loop-images-container">
            <img src="images/quiz.jpg" alt="" class="loop-image">
            <img src="images/evaluation.jpg" alt="" class="loop-image">
            <img src="images/diy.jpg" alt="" class="loop-image">
        </div>
    </div>
<div class="content_wrap">
    <div class="quiz_content_container">
        <img class="icon" src="images/money41.png">
        <h2>About Quiz Show</h2>
        <p class="quiz_intro">blablabla</p>
        <button class="content_button" style="vertical-align:middle" href=#><span>Join now</span></button>
    </div>

    <div class="evaluation_content_container">
        <img class="icon" src="images/zoom22.png">
        <h2>About Shoes Evaluation</h2>
        <p class="evaluation_intro">blablabla</p>
        <button class="content_button" style="vertical-align:middle" href=#><span>Join now</span></button>
    </div>

    <div class="diy_content_container">
        <img class="icon" src="images/nike_shoes.png">
        <h2>About DIY</h2>
        <p class="diy_intro">blablabla</p>
        <button class="content_button" href=#><span>Join now</span></button>
    </div>
</div>
</div>
</div>

<div>
    <footer class="footer">
        <h3>Footer</h3>
        <span class="footer_content">Footer Information</span>
    </footer>
</div>
</div>

</body>
</html>