

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="/css/loginstyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div>
    <img class="homepage_logo" src="images/logo.png",alt="group logo">
    <h1>Renike</h1>
    <button class="signup"><a href="signup">Sign up</a></button>
    <button class="login"><a href="login">Login</a></button>

    <div class="">
        <ul>
            <li><a href=#>DIY</a></li>
            <li><a href=#>Shoes Evaluation</a></li>
            <li><a href=#>Quiz Show</a></li>
            <li><a href="index">Home</a></li>
        </ul>
    </div>


<div class="login_container">
<form action="#" method="post">
    <div class="login">
        <div class="login_title">Login</div>
        <div class="wrap">
        <div class="line"><span id="msg"></span></div>
        <div class="line">Account:
            <input name="username" type="text" placeholder="Email Address">
        </div>
        <div class="line">Password:
            <input name="password" type="password" placeholder="Password">
        </div>

        <input class="log_submit" type="button" value="login">

        <div class="line"><a href="#">Forgot Password?</a></div>
        </div>
    </div>
</form>
</div>
</body>
</html>