<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="/css/signupstyle.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div><button class="goback"><a href="index">Go Back To Homepage</a></button></div>


<div class="singup_container">
    <form action="#" method="post">
        <div class="signup">
            <div class="signup_title">Sign Up</div>
            <div class="wrap">
                <div class="line"><span id="msg"></span></div>
                <div class="line">Account:
                    <input name="username" type="text" placeholder="Email Address">
                </div>
                <div class="line">Password:
                    <input name="password" type="password" placeholder="Password">
                </div>

                <input class="signup_submit" type="button" value="sign up">

                <div class="line"><a href="#">Already Signed Up?</a></div>
            </div>
        </div>
    </form>
</div>
</body>
</html>