    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sign up</title>
    <link href="/css/signupstyle.css" rel="stylesheet" type="text/css"/>
    <!-- bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>

<div class="main">
    <a href="index"><img class="homepage_logo" src="images/logo.png",alt="group logo"></a>
    <h1>Renike</h1>
    <button class="signup_page"><a href="signup">Sign up</a></button>
    <button class="login"><a href="login">Login</a></button>

    <div class="">
        <ul>
            <li><a href=#>DIY</a></li>
            <li><a href=#>Shoes Evaluation</a></li>
            <li><a href=#>Quiz Show</a></li>
            <li><a href="index">Home</a></li>
        </ul>
    </div>



<div class=" row justify-content-center p-5" style="margin-top: 5em">
    <form action="#" method="post">
        <div class="signup">
            <div class="signup_title">Sign Up</div>
            <div class="wrap">
                <div class="line"><span id="msg"></span></div>
                <div class="line">Account:
                    <input name="username" type="text" placeholder="Email Address">
                </div>
                <div class="line">Password:
                    <input name="password" type="password" placeholder="Password">
                </div>

                <input class="signup_submit" type="button" value="sign up">

                <div class="line"><a href="login">Already Signed Up?</a></div>
            </div>
        </div>
    </form>
</div>

</div>
<div>
    <footer class="footer">
        <h3>Footer</h3>
        <span class="footer_content">Footer Information</span>
    </footer>
</div>

</body>
</html>