@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');
.bg {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("/images/shoe_eval.jpg");
    /* Full height */
    height: 90vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-title {
    color: white;
    font-family: "Noto Sans";
    position: relative;
    top: 15em;
}

.select-bar-container {
    display: grid;
    justify-items: center;
    position: relative;
    top: 65%;
}

.select-bar {
    position: relative;
    display: flex;
    justify-content: center;
    /* left:20%; */
    max-width: 70%;
}

.progress {
    max-width: 1000px;
    margin: 40px auto;
}

.circle-bar-container {
    display: block !important;
    justify-content: center;
}

.container {
    margin-top: 10%;
}

.eval-container {
    display: grid;
    justify-content: center;
    margin: 10%;
}

#evaluation-result {
    margin: 20px;
}

/* body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #5c5c5c;
  background: #dddddd;
  padding: 40px 0 0 0;
} */

#desc {
    text-align: center;
    margin: 40px 0;
}

.prog {
    position: relative;
    font-size: 300px;
    width: 1em;
    height: 1em;
    float: left;
}

#prog-tip{
    overflow: hidden;
}
#prog-tip:hover{
    display: block;
}

#prog-contain {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    border: solid 10px white;
    -moz-box-shadow: 3px 3px 5px 6px #bbb;
    -webkit-box-shadow: 3px 3px 5px 6px #bbb;
    box-shadow: 3px 3px 5px 6px #bbb;
    margin: 0px auto;
}

.prog>.percent {
    position: absolute;
    font-size: 0.3em;
    text-align: center;
    top: 30px;
    right: 30px;
    width: 180px;
    height: 180px;
    border: 2px solid white;
    border-radius: 200px;
    background: white;
    padding: 28px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.prog>.percent>p {
    margin: 30px 0 0 15px;
}

.prog>#slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
}

.prog>#slice.gt50 {
    clip: rect(auto, auto, auto, auto);
}

.prog>#slice>.pie {
    border: .1em solid #9a3e3e;
    position: absolute;
    width: 0.8em;
    /* 1 - (2 * border width) */
    height: 0.8em;
    /* 1 - (2 * border width) */
    clip: rect(0em, 0.5em, 1em, 0em);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.prog>#slice>.pie.fill {
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.prog.fill>.percent {
    display: none;
}

.prog.fill>#slice>.pie {
    border: transparent;
    width: 1em;
    height: 1em;
}

*,
::after,
::before {
    box-sizing: content-box !important;
}


#prog-info{
    justify-content: center;
    position: relative;
    bottom: 30%;
}

#map{
    margin-bottom: 10%;
    margin-top: 5%;
    width: 80vw!important;
    height: 50vh!important;
}

.grid-contact-info{
    width: 50%!important;
}

#notes{
    width:96%;
}

#submit-btn{
    justify-self: center;
}