@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');



/* header */
.homepage_logo{
    height: 100px;
    width: 100px;
}

.title{
    font-family: "Dancing Script"!important;
    font-size: 70px !important;
    justify-content: center;
    display: inline-flex;
}

@media screen and (max-width: 800px) {
    .homepage_logo{
        height: 70px;
        width: 70px;
    }
    .title{
        font-size: 50px !important;
    }
    .my-btn {
        width:40%!important;
    }
}


.join-btn{
    background-color: #3e4444!important;
    color:white!important;
}
.my-btn {
    width:30%;
}
.user-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:70px;
    height:70px;
    text-align: center; 
    line-height: 65px;  
}


ul {
    list-style-type: none;
    margin:0!important;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #3e4444;

}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Noto Sans";
    color:white;


}
li a:hover {
    background-color: #111;
}
 .footer {
    position: absolute;
    left:0;
    margin:0;
    padding:1rem;
    width: 100%;
    background-color:#3e4444;
    color: white;
}
.footer h3{
    font-family:"Noto Sans";
    font-size:16px;
    font-weight: bold;
}
.footer_content{
    font-family:"Noto Sans";
    font-size:14px;
    word-wrap:break-word;
    font-weight: bold;
} 


.footer1 {
    bottom: 0;
    left:0;
    margin:0;
    padding:1rem;
    width: 100%;
    background-color:#3e4444;
    color: white;
}


#navbarNav{
    justify-content: right;
}