@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');



/* header */
.homepage_logo{
    float:left;
    height: 100px;
    width:100px;
}

h1{
    font-family: "Dancing Script"!important;
    font-size: 70px !important;
    margin-left:40%;
}



.login{
    position: absolute;
    right:0px;
    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}
.login:hover {
    opacity:0.8;
    border:none;

}
.signup{
    position: absolute;
    right:70px;

    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}

.signup:hover {
    opacity:0.8;
    border:none;

}

.signup a:link{
    color:#3e4444;
}
.signup a:visited{
    color:#3e4444;
}
.login a:link{
    color:#3e4444;
}
.login a:visited{
    color:#3e4444;
}




ul {
    list-style-type: none;

    margin:0!important;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #3e4444;

}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: "Noto Sans";
    color:white;


}
li a:hover {
    background-color: #111;
}
 .footer {
    position: sticky;
    bottom: 0;
    left:0;
    margin:0;
    padding:0;
    width: 100%;
    /* height:100%; */
    background-color:#3e4444;
    color: white;
}
.footer h3{
    font-family:"Noto Sans";
    font-size:16px;
    font-weight: bold;
}
.footer_content{
    font-family:"Noto Sans";
    font-size:14px;
    word-wrap:break-word;
    font-weight: bold;
} 
