@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Lato');

html{
    height:100%;
    width:100%;
}

.main_wrap{
    min-height:100%
}
.content_wrap{
    text-align: center;
}
.main{
    padding-bottom:30px;
    overflow:hidden;
}

body{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 0px;
    padding-up:0px;
}

.homepage_logo{
    float:left;
    height: 100px;
    width:100px;
}
h1{
    font-family: "Dancing Script";
    font-size: 60px;
    margin-left:40%;
}









.login{
    position: absolute;
    right:0px;
    font-family: "Dancing Script";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#333;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}
.login:hover {
    opacity:0.8;
    border:none;

}
.signup{
    position: absolute;
    right:70px;
    font-family: "Dancing Script";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#333;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}

.signup:hover {
    opacity:0.8;
    border:none;

}







ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Pacifico";

}
li a:hover {
    background-color: #111;
}




.loop-wrap {
    position:relative;
    width: 1277px;
    height:700px;
    overflow: hidden;
}
.loop-image{
    width: 1277px;
    height:700px;
}

.loop-images-container{
    position: absolute;
    padding:0px 0px 0px;
    width: 500%;
    height: 100%;
    font-size: 0;
    transform: translate(0,0);
    animation: loop 10s linear infinite;
}

@keyframes loop {
    0% {transform: translate(0,0);}
    25% {transform: translate(0,0);}

    35% {transform: translate(-20%,0);}
    60% {transform: translate(-20%,0);}

    70% {transform: translate(-40%,0);}
    95% {transform: translate(-40%,0);}

    100% {transform: translate(0,0);}
}


.icon{
    height:200px;
    width:200px;
}
.quiz_content_container{
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}
.evaluation_content_container{
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}
.diy_content_container{
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

h2{
    font-family: Pacifico;
}

.quiz_intro{
    word-wrap:break-word;
    font-family: Pacifico;
}
.evaluation_intro{
    word-wrap:break-word;
    font-family: Pacifico;
}
.diy_intro{
    word-wrap:break-word;
    font-family: Pacifico;
}

.content_button {
    display: inline-block;
    border-radius: 4px;
    background-color: #333;
    font-family:"Pacifico";
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    hight:100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle;
}
.content_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    vertical-align:middle
}
.content_button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    vertical-align:middle
}
.content_button:hover span {
    padding-right: 25px;
    vertical-align:middle
}

.content_button:hover span:after {
    opacity: 1;
    right: 0;
    vertical-align:middle
}


.footer {
    margin:0;
    padding:0;
    height:100%;
    background-color:#333;
    color: white;
}
h3{
    font-family:"Dancing Script";
    font-size:16px;
    font-weight: bold;
}
.footer_content{
    font-family:"Dancing Script";
    font-size:14px;
    word-wrap:break-word;
    font-weight: bold;
}