@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');


html{
    height:100%;
    width:100%;
}

.main_wrap{
    min-height:100%
}
.content_wrap{
    text-align: center;
}
.main{
    padding-bottom:30px;
    overflow:hidden;
}

body{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 0px;
    padding-up:0px;
}

.homepage_logo{
    float:left;
    height: 100px;
    width:100px;
}

h1{
    font-family: "Dancing Script"!important;
    font-size: 70px !important;
    margin-left:40%;
}






.login_page{
    position: absolute;
    right:0px;
    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}
.login_page:hover {
    opacity:0.8;
    border:none;

}
.signup{
    position: absolute;
    right:70px;
    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}

.signup:hover {
    opacity:0.8;
    border:none;

}

.signup a:link{
    color:#3e4444;
}
.signup a:visited{
    color:#3e4444;
}
.login_page a:link{
    color:#3e4444;
}
.login_page a:visited{
    color:#3e4444;
}



ul {
    list-style-type: none;
    margin:0!important;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #3e4444;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Noto Sans";
    color:white;

}
li a:hover {
    background-color: #111;
}




.login {
    width: 400px;
    height:220px;
    overflow: hidden;
    border: solid 3px #3e4444;
    margin:0;
    padding:0;
    font-family:"Noto Sans";

}
.login_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #3e4444;
    text-align: center;
    color:white;
    font-family:"Noto Sans";
}
.line {
    font-size: 16px;
    margin-top:0.8em;
    text-align: center;
    font-family:"Noto Sans";
}
.line input {
    width: 150px;
    font-family:"Noto Sans";
}
.login_submit {
    font-family: "Noto Sans";
    font-size: 16px;
    text-align: center;
    margin:0.6em;
    margin-left: 10em;
}

.wrap{
    background-color: white;
    opacity: 0.9;
    font-family:"Noto Sans";
}

.line a:link{
    color:#3e4444;
}
.line a:visited{
    color:#3e4444;
}


.footer {
    position: fixed;
    bottom: 0;
    left:0;
    margin:0;
    padding:0;
    width: 100%;
    /* height:100%; */
    background-color:#3e4444;
    color: white;
}
h3{
    font-family:"Noto Sans";
    font-size:16px;
    font-weight: bold;
}
.footer_content{
    font-family:"Noto Sans";
    font-size:14px;
    word-wrap:break-word;
    font-weight: bold;
}