@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');
img {
    max-width: 70%;
    width: 70%;
    height: auto;
}

.title-bar {
    margin-top: 5em;
}

.quiz-container {
    margin-top: 6em;
}



@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

@keyframes auto-progress {
0% {
    width: 0%;
}

100% {
    width: 100%;
}
}

.progress-bar {
    background-color: #1a1a1a;
    height: 20px;
    width: 450px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}


.reverse {
    animation-direction: reverse;
}

.progress-bar-inner {
    display: block;
    height: 20px;
    width: 0%;
    background-color: #34c2e3;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    animation: auto-progress 10s infinite linear;
}


/* Progress Bar Placement & Styling */
/* #progressive {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
} */

/* Transition speed for progress bar */
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}

/* header */
.homepage_logo{
    float:left;
    height: 100px;
    width:100px;
}

h1{
    font-family: "Dancing Script"!important;
    font-size: 70px !important;
    margin-left:40%;
}



.login{
    position: absolute;
    right:0px;
    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}
.login:hover {
    opacity:0.8;
    border:none;

}
.signup{
    position: absolute;
    right:70px;

    font-family: "Noto Sans";
    font-weight:bold;
    font-size:16px;
    border:none;
    color:#3e4444;
    background-color: white;
    height: 30px;
    margin:0px;
    padding:0px;
    width: 70px;
    top: 0px;
}

.signup:hover {
    opacity:0.8;
    border:none;

}

.sigup a:link{
    color:#3e4444;
}
.signup a:visited{
    color:#3e4444;
}
.login a:link{
    color:#3e4444;
}
.login a:visited{
    color:#3e4444;
}




ul {
    list-style-type: none;

    margin:0!important;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #3e4444;

}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: "Noto Sans";
    color:white;


}
li a:hover {
    background-color: #111;
}

.footer {
    margin:0;
    padding:0;
    height:auto;

    background-color:#3e4444;
    color: white;
}
h3{
    font-family:"Noto Sans";

    font-size:16px;
    font-weight: bold;
}
.footer_content{

    font-family:"Noto Sans";

    font-size:14px;
    word-wrap:break-word;
    font-weight: bold;
}


