@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans');
img {
    max-width: 70%;
    width: 70%;
    height: auto;
}

.title-bar {
    margin-top: 5em;
}

.quiz-container {
    margin-top: 6em;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

@keyframes auto-progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.progress-bar {
    background-color: #c1946a !important;
    height: 20px;
    width: 450px;
    margin: 50px auto;
    border-radius: 10px;
}

.reverse {
    animation-direction: reverse;
}

.progress-bar-inner {
    display: block;
    height: 20px;
    width: 0%;
    background-color: #82b74b;
    border-radius: 10px;
    animation: auto-progress 10s infinite linear;
}


/* Transition speed for progress bar */
.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}

#quiz1,
#quiz2,
#quiz3 {
    margin-bottom: 10%;
}

#grade {
    font-size: 1em;
}


.fa-check {
    color: green;
}

.fa-times {
    color: red;
    width:20px;
}


.q{
    margin-left: 10px;
    margin-right: 10px;
}