@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
    height: 100%;
}

body {
    background:url("https://source.unsplash.com/Np_nvRuhpUo/4000×6016");
    background-size: cover;
}

h2 {
    text-align: center;
    color: ghostwhite;
    font-family: 'Press+Start+2P', cursive;
    font-weight: 400;
    font-size: 4em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p{
    color: ghostwhite;
    font-family: 'Press+Start+2P', cursive;
    font-weight: 400;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
    color: ghostwhite;
    font-family: 'Press+Start+2P', cursive;
    font-weight: 400;
    font-size: 2em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h4{
    text-align: center;
    color: ghostwhite;
    font-family: 'Press+Start+2P', cursive;
    font-weight: 400;
    font-size: 2em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}